{% load static %}
<!-- Footer start -->
<footer class="landing-footer">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6 text-center">
                <p class="mb-2">2021 - {% now 'Y' %} © EMS - Designed and Developed by Team
                    <b class="text-danger"><i class="fa fa-sort-alpha-down"></i> Alpha</b>
                </p>
                <p>
                    Event Management System is under-development by team Alpha under the super-vision of Mam Humaira Jabeen
                </p>
            </div>

        </div>
    </div>
    <!-- end container -->
</footer>
<!-- Footer end -->