{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="#">
        <i class="bx bx-home-circle mr-2"></i>Admin Dashboard
    </a>
</li>

{# ROOT ADMIN #}
{% if request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/">
            <i class="bx bx-sitemap mr-2"></i>Root Access
        </a>
    </li>
{% endif %}


{# FEATURES #}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-collection mr-2"></i>Features
        <div class="arrow-down"></div>
    </a>
    <div class="dropdown-menu" aria-labelledby="topnav-components">
        <a href="#" class="dropdown-item">Uses</a>
        <a href="#" class="dropdown-item">Events</a>
        <a href="#" class="dropdown-item">Add On's</a>
        <a href="#" class="dropdown-item">Event Types</a>
        <a href="#" class="dropdown-item">Payments</a>
    </div>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}