{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link" href="{% url 'customer-portal:dashboard' %}">
        <i class="bx bxs-dashboard mr-2"></i>Dashboard
    </a>
</li>

{##}
<li class="nav-item">
    <a class="nav-link" href="{% url 'customer-portal:event-list' %}">
        <i class="bx bx-clipboard mr-2"></i>Your Bookings
    </a>
</li>

{##}
<li class="nav-item">
    <a class="nav-link" href="{% url 'customer-portal:event-add' %}">
        <i class="bx bx-clipboard mr-2"></i>Book Now
    </a>
</li>

