{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'moderator-portal:dashboard' %}">
        <i class="bx bx-home-circle mr-2"></i>Dashboard
    </a>
</li>


{# Apps #}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-customize mr-2"></i>Apps
        <div class="arrow-down"></div>
    </a>
    <div class="dropdown-menu" aria-labelledby="topnav-pages">

        <a href="{% url 'moderator-portal:quiz-create' %}" class="dropdown-item">Quiz Builder</a>
        <a href="{% url 'moderator-portal:question-create' %}" class="dropdown-item">Question
            Builder</a>
    </div>
</li>


{# FEATURES #}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-collection mr-2"></i>Features
        <div class="arrow-down"></div>
    </a>
    <div class="dropdown-menu" aria-labelledby="topnav-components">
        <a href="{% url 'moderator-portal:quiz' %}" class="dropdown-item">Quizzes</a>
        <a href="{% url 'moderator-portal:question' %}" class="dropdown-item">Questions</a>
    </div>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}