{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="bx bxs-dashboard mr-2"></i>Dashboard
    </a>
</li>

{#QUIZES#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="bx bx-clipboard mr-2"></i>M1
    </a>
</li>

{#TEAMS#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="bx bx-sitemap mr-2"></i>M2
    </a>
</li>

{#Learning#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="bx bx-book mr-2"></i>M3
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}