{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link" href="{% url 'admin-portal:dashboard' %}">
        <i class="bx bxs-dashboard mr-2"></i>Dashboard
    </a>
</li>

{#QUIZES#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="bx bx-clipboard mr-2"></i>Events
    </a>
</li>

{#TEAMS#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="mdi mdi-cash mr-2"></i>Payments
    </a>
</li>

{#Learning#}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="bx bx-user-circle mr-2"></i>Users
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}