{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'parent-portal:dashboard' %}">
        <i class="bx bx-home-circle mr-2"></i>Dashboard
    </a>
</li>

{#CHILD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'parent-portal:relation' %}">
        <i class="bx bx-home-circle mr-2"></i>Children
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}