{% extends 'wsite/base.html' %}
{% load static %}

{% block base_title %}Blog{% endblock %}

{% block base_content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <section class="section hero-section bg-ico-hero" id="home">
        <div class="bg-overlay" style="background-color: orangered;"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="text-white-50 text-center">
                        {#                        <img src="{% static 'tarbazar/images/logo-light.png' %}" class="mb-4" height="200">#}
                        <p class="m-0">
                        <h1 class="text-white font-weight-semibold mb-3 hero-title">
                            <i class="fa fa-copy"></i>
                        </h1>
                        </p>
                        <h1 class="text-white font-weight-semibold mb-3 hero-title">Cocognito Articles</h1>
                        <p class="font-size-14">If you are interested in Project cocognito don't forget to check our
                            blog
                            daily, there will be daily weekly and monthly updates, project statistics and
                            reports</p>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>

    <section>
        <div class="container my-5">
            {% if articles %}
                <div class="row">
                    <div class="col-sm-9">
                        {% for article in articles %}
                            <div class="card">
                                {# HEAD #}
                                <div class="card-header">
                                    <a class="card-title"
                                       href="{% url 'wsite:article' article.slug %}"> {{ article.topic }}
                                    </a>
                                </div>

                                {# BODY #}
                                <div class="card-body">
                                    {# CONTENT #}
                                    <div class="p-4">
                                        {{ article.content|safe }}
                                        <small class="font-italic">Created: {{ article.created_at }}</small>
                                        {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div>
                            {% if articles.has_other_pages %}
                                <nav aria-label="..." class="navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if articles.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ articles.previous_page_number }}">&laquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="disabled page-item"><span
                                                    class="page-link">&laquo;</span></li>
                                        {% endif %}
                                        {% for i in articles.paginator.page_range %}
                                            {% if articles.number == i %}
                                                <li class="active page-item"><span
                                                        class="page-link">{{ i }} <span
                                                        class="sr-only">(current)</span></span></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if articles.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ articles.next_page_number }}">&raquo;</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled"><span
                                                    class="page-link">&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>


                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-header">
                                <p class="lead m-0">Available Articles</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% for article in articles_list %}
                                        <li><a href="{% url 'wsite:article' article.slug %}">
                                            {{ article.topic }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>


                        <div class="card p-4">
                            <p class="text-secondary">Haven't seen articles above check them now.</p>
                            <button class="btn btn-sm btn-danger">Any Question?</button>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="card border border-danger">
                        <div class="card-header bg-transparent border-danger">
                            <h5 class="my-0 text-danger"><i class="mdi mdi-block-helper mr-3"></i>Articles Help</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mt-0">No articles yet?</h5>
                            <p class="card-text">
                                No articles are available now that's because cocognito administration
                                didn't added yet.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>


{% endblock %}