{% extends 'website/base.html' %}
{% load static %}

{% block base_content %}
    <!-- hero section start -->
    <section class="section hero-section bg-ico-hero" id="home">
        <div class="bg-overlay bg-primary"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="text-white-50">
                        <h1 class="text-white font-weight-semibold mb-3 hero-title">
                            {% lorem 10 w %}
                        </h1>
                        <p class="font-size-14">{% lorem 30 w %}</p>

                        <div class="button-items mt-4">
                            <a href="/accounts/signup/"
                               class="btn btn-success">Join Now</a>
                            <a href="/accounts/login/"
                               class="btn btn-light">Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>

    {#    <!-- description start -->#}
    {#    <section class="section" id="description">#}
    {#        <div class="container">#}
    {##}
    {#            <div class="row mt-4">#}
    {#                <div class="col-lg-12">#}
    {#                    {{ site.system_description|safe }}#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- end row -->#}
    {#        </div>#}
    {#        <!-- end container -->#}
    {#    </section>#}
    {#    <!-- description end -->#}

    <!-- Roadmap start -->
    <section class="section bg-white" id="roadmap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <div class="small-title">Timeline</div>
                        <h4>Events Road map</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="hori-timeline">
                        <div class="owl-carousel owl-theme events navs-carousel" id="timeline-carousel">

                            {% for number in '12345'|make_list %}

                                <div class="item event-list">
                                    <div>
                                        <a href="#">
                                            <div class="event-date">
                                                <div class="mb-1"><i
                                                        class="bx bx-calendar"></i> 5th December, 2021
                                                </div>
                                                <h5 class="mb-4">Programming</h5>

                                            </div>
                                            <div class="event-down-icon">
                                                <i class="bx bx-down-arrow-circle h1 text-primary down-arrow-icon"></i>
                                            </div>

                                            <div class="mt-3 px-3">
                                                <p class="text-muted">{% lorem 15 w %}</p>
                                            </div>
                                        </a>

                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Roadmap end -->

    <!-- Blog start -->
    <section class="section" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <div class="small-title">Blog</div>
                        <h4>Latest News</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                {% for number in '1234'|make_list %}
                    <div class="col-xl-3 col-sm-6">
                        <div class="blog-box mb-4 mb-xl-0">
                            <div class="position-relative">
                                <img src="{% static 'images/no_content.png' %}" alt=""
                                     class="rounded img-fluid mx-auto d-block">
                                <div class="badge badge-success blog-badge font-size-11">Latest Blog</div>
                            </div>

                            <div class="mt-4 text-muted">
                                <p class="mb-2"><i class="bx bx-calendar mr-1"></i> 5th Dec, 2021</p>
                                <h5 class="mb-3">Blog of Cocogito</h5>

                                <div class="mt-3 ">
                                    <p class="text-muted">{% lorem 15 w %}</p>
                                </div>

                                <div>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Blog end -->

    <!-- Team start -->
    <section class="section bg-white" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <div class="small-title">Team</div>
                        <h4>Meet our team</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="col-lg-12">
                <div class="owl-carousel owl-theme events navs-carousel" id="team-carousel">
                    {% for number in '1234'|make_list %}

                        <div class="item">
                            <div class="card text-center team-box">
                                <div class="card-body">
                                    <div>
                                        <img src="{% static 'images/user.jpg' %}" alt="" class="rounded">
                                    </div>

                                    <div class="mt-3">
                                        <h5>Member Name</h5>
                                        <P class="text-muted mb-0">Member Rank</P>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent border-top">
                                    <div class="d-flex mb-0 team-social-links">
                                        <div class="flex-fill">
                                            <a href="#" data-toggle="tooltip" title="Facebook">
                                                <i class="mdi mdi-facebook"></i>
                                            </a>
                                        </div>
                                        <div class="flex-fill">
                                            <a href="#" data-toggle="tooltip" title="Linkedin">
                                                <i class="mdi mdi-linkedin"></i>
                                            </a>
                                        </div>
                                        <div class="flex-fill">
                                            <a href="#" data-toggle="tooltip" title="Google">
                                                <i class="mdi mdi-google"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Team end -->

{% endblock %}