{% extends 'application/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Identification Check{% endblock %}
{% block base_top_nav %}{% endblock %}

{% block dont_include_details %}

    {# HOME LINK #}
    <div class="home-btn d-none d-sm-block">
        <a href="{% url 'home' %}" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>

    <div class="my-4 pt-sm-5">

        {% include 'core/include/message.html' %}

        <div class="container">

            <!-- THIS IS UPPER AREA -->
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="lead mb-4" style="font-size: xx-large"><i class="fa fa-running"></i> Just One Step Behind!
                    </h2>
                    <p>
                        <b>Cocognito</b> was developed during the times of <b class="text-danger">COVID-19</b> to help
                        students to continue their study and to maintain their performance, so <b>Cocognito</b> is a
                        students performance tracking system, below here your are seeing different types of accounts
                        each one has its own features and portal system, please make sure to select a right category for
                        your self, once you have selected your account will be associated with that portal system and it
                         can't be changed in future.
                    </p>
                </div>
            </div>

            <form method="post" action="">
                {% csrf_token %}

                {# FORM CONTENT -------------- #}
                <div class="row mt-4">

                    {# STUDENT #}
                    <div class="col">
                        <div class="card rounded">
                            <div class="card-body">

                                <div class="text-center">
                                    <img src="{% static 'images/student.png' %}">
                                </div>
                                <div class="mt-4 text-center">
                                    <b class="text-secondary">
                                        <p class="my-0">Attempt Quizzes</p>
                                        <p class="my-0">Learn From Resources</p>
                                        <p class="my-0">Parental Access</p>
                                        <p class="my-0">Team Building</p>
                                        <p class="my-0">Competitions Participation's</p>
                                    </b>
                                </div>

                            </div>
                            <div class="card-footer bg-white border-top text-center">
                                <input type="radio" value="s" name="user_type" id="user_type"
                                       class="form-check-inline"> <b class="lead">I am a Student</b>
                            </div>

                        </div>
                    </div>

                    {# TEACHER #}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <div class="text-center">
                                    <img src="{% static 'images/teacher.png' %}">
                                </div>
                                <div class="mt-4 text-center">
                                    <b class="text-secondary">
                                        <p class="my-0">Build Quizzes</p>
                                        <p class="my-0">Build Learning Resources</p>
                                        <p class="my-0">Build Questions</p>
                                        <p class="my-0">View Reports</p>
                                        <p class="my-0">View Live Competitions</p>
                                    </b>
                                </div>

                            </div>
                            <div class="card-footer bg-white border-top text-center">
                                <input type="radio" value="m" name="user_type" id="user_type" class="form-check-inline">
                                <b class="lead">I am a Moderator</b>
                            </div>

                        </div>
                    </div>


                    {# PARENT #}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <div class="text-center">
                                    <img src="{% static 'images/parent.png' %}">
                                </div>
                                <div class="mt-4 text-center">
                                    <b class="text-secondary">
                                        <p class="my-0">Children Account access</p>
                                        <p class="my-0">Children Learning Progress</p>
                                        <p class="my-0">Children Performance</p>
                                        <p class="my-0">Children Reporting</p>
                                        <p class="my-0">View Live Competitions</p>
                                    </b>
                                </div>

                            </div>
                            <div class="card-footer bg-white border-top text-center">
                                <input type="radio" value="p" name="user_type" id="user_type" class="form-check-inline">
                                <b class="lead">I need parental account</b>
                            </div>

                        </div>
                    </div>
                </div>

                {# SUBMISSION ---------------- #}
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary" type="submit">
                                <i class="fa fa-check-circle"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

