{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Delete {{ object }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <form method="post">{% csrf_token %}
                        <p class="mb-2">Are you sure you want to delete
                            <b class="text-danger">"{{ object }}"</b>
                            ?</p>
                        <input type="submit" class="btn btn-danger" value="Confirm">
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
